.git
.github

node_modules
**/node_modules

.next
**/.next

dist
**/dist

.turbo
**/.turbo

coverage
**/coverage

*.log

.env
.env.*
!.env.example

apps/web/tsconfig.tsbuildinfo
**/*.tsbuildinfo

.DS_Store
Thumbs.db

tmp
temp
